@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --black-900: #0a0a0b;
  --black-700: #0d1114;
  --black-500: #181c1f;
  --black-400: #333d42;
  --white: #eef1f3;
  --grey-100: #ffffff1a;
  --grey-200: #ffffff20;
  --grey-400: #a1a1aa;
  --grey-700: #b7cad4;
  --orange-500: #ff6600;
}

.story-text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.story-text p {
  display: inline;
}

.story-text-expanded p {
  margin-top: 1rem;
}

.story-text-expanded pre {
  @apply overflow-auto p-2 whitespace-pre-wrap rounded-xl border-2 bg-[#181c1f] border-border-tertiary mb-4;
}

.story-text-expanded code {
  font-family: Monaco, Menlo, Consolas, Courier New, monospace !important;
  font-size: 12px;
  @apply font-thin;
}

svg {
  fill: currentColor;
  /* height: 16px;
  width: 16px; */
}

.nav-buttons {
  @apply flex h-[2.5em] w-[5em] justify-center items-center rounded-2xl bg-surface-secondary font-bold text-base hover:bg-nav-button-background-hover;
}
